/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}



/* TITLES AND FONTS */

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: 3px solid #cf72da;
}
    h1 {
        font-family: 'Shrikhand', cursive;
        background-color: #7289da;
        color: white;
        width: 100%;
        text-align: center;
        padding: 25px;
        font-size: 40px;
        font-weight: 500;
    }

    h2 {
        color: #000000;
        margin-bottom: 25px;
        font-size: 15px;
    }

    h3 {
        color: #000000;
        font-size: 13px;
    }

    /* FORM */
    .formulaire {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }

    input {
        padding: 10px 50px;
        height: 50px;
        font-size: 15px;
        border: 2px solid #7289da;
        width: 90%;
    }

    button {
        height: 50px;
        padding: 10px 25px;
        background-color: #7289da;
        color: white;
        border: 2px solid #7289da;
        min-width: 400px;
        width: 90%;
        margin-top: 5px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 20px;
    }

 /* .section-camera {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid red;
}

#video {
    border: 5px solid black;
}

#canvas {
    width: 640px;
    height: 480px;
    border: 1px solid black;
}  */

header h2 {
    background-color: #cf72da;
    color: white;
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.formulaire button:hover {
    cursor: pointer;
    background-color: #cf72da;
    border: 1px solid #cf72da;
    transition-duration: 1s;
    border-radius: 10px;
}


/* DIV PRODUITS */
#div-resultat {
    border: 2px solid #7289da;
    padding: 25px;
    width: 90%;
    margin: 0 auto;
}

.en-tete-resultat {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #7289da;
    margin-bottom: 30px;
}

.en-tete-resultat-description {
    flex: 4;
}

.image-div {
    text-align: center;
    flex: 1;
    margin: 25px
}

.resultatTitre {
    color: #cf72da;
    text-transform: uppercase;
}

.resultatCode {
    color: #cf72da;
}

.description-produit {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    text-transform: uppercase;
}

.divScore {
    flex: 2;

}

.divScore p {
    text-align: center;
    font-weight: bold;
}
    
    
.score {
    color: #cf72da;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.resultat {
    font-weight: normal;
    text-transform: none;
}